/* Typography
   ========================================================================== 
*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

$base-font-family: 'Outfit', sans-serif;
$base-font-size: 15px;
$base-font-weight: 400;
$font-weight-bold: 700;